      /* Default height */
      .brand-logo-img {
          /* height: 80px; */
          height: 98px;

      }

      .fixed.navbar-fixed-top.scroll {
          height: 90px;
      }

      .footer-navbrand {
          padding: 0;
          margin: 0;
          width: fit-content;
          height: fit-content;
      }

      .footerlogo {
          height: 150px !important;
      }

      .navbar-brand {
          position: absolute;
          top: 6px;
          left: 50px;
      }

      .welcome_mssg {
          left: 155px;
          position: absolute;
      }

      .navbar-brand-res {
          display: none;
      }

      header.navbar-fixed-top .brand-logo-img,
      header.navbar-fixed-top .brand-logo-img-res {
          height: 80px;
      }

      .footer-mail-box {
          width: 280px;
      }

      /* Reduce height when screen width is 1199px or less */
      @media (max-width: 1199px) {
          .brand-logo-img {
              height: 95px;
          }

          .welcome_mssg {
              left: 140px !important;
          }
      }

      @media (max-width: 992px) {
          .navbar-brand {
              display: none;
          }

          .navbar-brand-res {
              display: block;
              margin: 0;
          }

          .brand-logo-img-res {
              height: 86px;

          }

          .navbar-brand-res {
              position: absolute;
              top: 6px;
          }

          .footer-mail-box {
              width: auto;
          }
      }

      @media (max-width: 715px) {
          .brand-logo-img-res {
              height: 80px !important;


          }

          .navbar-brand-res {
              position: static !important;

              top: 6px;
          }

      }

      @media (max-width: 576px) {
          .navbar-brand {
              display: none;
          }

          .navbar-brand-res {
              display: block;
              margin-top: 6px;
          }

          .brand-logo-img-res {
              height: 50px;
          }

          header.navbar-fixed-top .brand-logo-img,
          header.navbar-fixed-top .brand-logo-img-res {
              height: 52px;
          }
      }